@import url("font.css");
body {
    background: #121111;
    color: white;
    font-family: JetBrainsMono-Regular;
    margin: 5% 25% 0 25%;
}

header {
    font-family: JetBrainsMono-ExtraBold;
    font-size: 2.75rem;
}

footer {
    text-align: center;
    margin-top: 5%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
    text-indent: 1rem;
}

@media only screen and (max-width: 1500px) {
    body {
        background: #121111;
        color: white;
        font-family: JetBrainsMono-Regular;
        margin: 5% 15% 0 15%;
    }
}