@import url("font.css");
body {
    background: #121111;
    color: white;
    font-family: JetBrainsMono-Regular;
}

header {
    font-family: JetBrainsMono-ExtraBold;
    font-size: 2.75rem;
    margin: 5rem 30% 0 30%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main {
    margin: 2.5rem 30% 0 30%;
}

footer {
    text-align: center;
    margin: 5rem 30% 2rem 30%;
}

@media only screen and (max-width: 1500px) {
    header {
        font-family: JetBrainsMono-ExtraBold;
        font-size: 2.75rem;
        margin: 5rem 20% 0 20%;
    }
    main {
        margin: 5rem 20% 0 20%;
    }
    footer {
        text-align: center;
        margin: 5rem 20% 0 20%;
    }
}